<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <address>
          <h3><strong id="parola">Contact Us</strong></h3>
          <div class="form-floating mb-3">
            <input type="name" class="form-control" id="floatingInput" placeholder="name">
            <label for="floatingInput">Your Name-Lastname</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Your Email</label>
          </div>
          <div class="form-floating ">
            <textarea class="form-control" id="floatingTextarea2" placeholder="Leave a comment here" style="height: 300px"></textarea>
            <label for="floatingTextarea2">Your Message</label>
          </div>
        </address>
        <br>
        <br>
      </div>

      <div class="col-md-6">
        <br>
        <br>
        <img src="../../assets/images/betting-exchange.jpg" alt="">
        <br>
        <br>
      </div>
    </div>
  </div>

</body>



<!-- <div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
          <a type="button" class="btn btn-danger"[routerLink]="'/signup'" class="nav-link">Signup</a>
          <a type="button" class="btn btn-danger" [routerLink]="'/login'" class="nav-link" *ngIf="!authService.isLogged">Login</a>
          <a type="button" class="btn btn-danger" (click) = "logout()" *ngIf="authService.isLogged" class="nav-link">Logout</a>
      </div>
   </div>
 </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card col-5 ">
      <img
        src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>

    <div class="card col-5">
      <img
        src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the
          card's content.
        </p>
        <a href="#!" class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div> -->
